.infobulle{
    position: absolute;
    background: #000000;
    padding: 3px 7px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #d4d4d4;
    text-align: center;
}


.navbarRetouche {
    position: relative;
    min-height: 50px;
    border: 1px solid transparent;
}


.title-big {
    border-bottom: 1px dashed #c9c9c9;
    padding: 1rem 0;
    margin: 0 0 1rem;
    font-size: 1.6rem;
    font-weight: 400;
}



/* ==========================================================================
Barre de séparation verticale et a droite
   ========================================================================== */


.right-sidebar{
    margin-top:20px;
    border-left:none;
    border-left:1px dashed #c9c9c9;
    padding:0 0 0 30px;
}

.titre{
    margin-top: 62px;
}

/*
.work {
    display: block;
    margin-bottom: 1.4rem;
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}
*/

.survol:hover{
    background: #222;
    color: white;
}


.well:hover {
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}



/* ==========================================================================
   GESTTON DE L'ENREGISTREMENT ETAPE PAR ETAPE

   PROGRESSBAR STEP BY STEP
   ========================================================================== */



#msform{
    width: 400px;
    margin: 50px auto;
    text-align: center;
    position: relative;
}

#msform fieldset
{
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0,0,0,0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
    position: absolute;
}

.fs-title{
    font-size: 15px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
}
.fs-subtitle
{
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}


/*hide all except first fieldset*/
#msform fieldset:not(:first-of-type)
{
    display: none;
}

/*input*/
#msform input, #msform textarea, #msform select
{
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 30px;
    margin-bottom: 10px;
    width: 92%;
    box-sizing: border-box;
    font-family: monospace;
    color: #2C3E50;
    font-size: 13px;
}


#msform .action-button{
    width: 100px;
    background: #FE1200;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button:hover, #msform .action-button:focus{
    box-shadow: 0 0 0 2px white, 0 0 0 3px #FE1200 ;
}

#progressbar{
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the step */
    counter-reset: step;
}

#progressbar li
{
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 9px;
    width: 23.33%;
    float: left;
    position: relative;
}

#progressbar li:before
{
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: #333;
    background: white;
    border-radius: 3px;
    margin: 0 auto 5px auto;
}


/* progressbar connector*/
#progressbar li:after
{
    content:"";
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it before the first number  */
}

#progressbar li:first-child:after
{
    /*Connector not needed before the first step  */
    content: none;
}

/*making active/completed steps green*/
#progressbar li.active:before, #progressbar li.active:after
{
    background: #FE1200;
    color: white;
}



/* ==========================================================================
   Gestion du mot de bienvenue
   ========================================================================== */

.enTeteBienvenue::before {
    border-top: 20px solid #FE1200;
    z-index: 99999;
}
.enTeteBienvenue::before {
    content: '';
    border-left: 27px solid transparent;
    border-right: 0px solid transparent;
    position: absolute;
    top: 40px;
    left: -2px;
    z-index: 999999;
}

.backgroundColor2 {
    background-color: #FE1200 !important;
    z-index: 99999;
}
.couleurBlanc {
    color: white;
}
.enTeteBienvenue {
    width: 200px;
    padding-left: 24px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    top: 20px;
    left: -9px;
    z-index: 9999999;
}
.openSans-extrabold {
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    font-style: normal;
}
.font-size-30 {
    font-size: 30px;
    line-height: 30px;
}

/* ==========================================================================
   Barre de chargement automatique
   ========================================================================== */

#progress-bar-container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 4px;
}

#progress-bar{
    /*position: relative;
    height: 100%;
    background: Red;
    box-shadow: 0 0 4px rgba(0, 0, 0, .5);
    width: 0%;*/

    position: relative;
    width: 0%;
    height: 100%;
    background-color: rgb(10, 141, 224);
    z-index: 9999999;
    transition: top 0.5s ease 0s;
    box-shadow: rgb(10, 141, 224) 0px 2px 7px, rgba(0, 0, 0, 0.2) 0px 1px 2px inset;
}

#progress-bar-elements{
    display: none;
}




/* ==========================================================================
Personnalisation du scrollbar
   ========================================================================== */


::-webkit-scrollbar
{
    width: 10px;
}

::-webkit-scrollbar-thumb
{
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgb(10, 141, 224));
    border-radius: 6px;
    box-shadow: rgb(10, 141, 224) 0px 2px 7px, rgba(0, 0, 0, 0.2) 0px 1px 2px inset;
}


/* ==========================================================================
GESTION DE L' OMBRAGE
   ========================================================================== */

.ombrage
{
    border-left: 1px solid rgb(10, 141, 224);
    border-right: 1px solid rgb(10, 141, 224);
    border-radius: 20px / 10px;
    box-shadow: rgb(10, 141, 224) 0px 2px 7px, rgba(0, 0, 0, 0.2) 0px 1px 2px inset;
}

.ombrage2
{
   /* border-left: 1px solid rgb(10, 141, 224);*/
    border: 1px solid rgb(10, 141, 224);
    border-radius: 20px;
    box-shadow: rgb(10, 141, 224) 10px 2px 17px, rgba(0, 0, 0, 0.2) 10px 1px 2px inset;
}


/* ==========================================================================
GESTION DU PARALLAX
   ========================================================================== */

.parallax
{
    background: url('../img/Accueil/app.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 200px;
    text-align: center;
}




/* ==========================================================================
GESTION DYNAMIQUE DES DERNIERS POSTES
   ========================================================================== */
aside .titreWidget {
    position: relative;
    border-bottom: #e9e9e9 1px solid;
    padding-bottom: 9px;
}

aside .widget {
   margin: 0 7px;
    text-align: justify;
}
h5.titreWidget {
    font-size: 20px;
}

ul.space
{
    list-style: none;
    margin: initial;
    padding: initial;
}
.reduct1
{
    float: left!important;
    margin-right: 5px;
    padding: initial;
}
.reduct2
{
    padding: initial;
    margin: initial;
    font-size: 14px;
}
.reduct3
{
    padding: initial;
    font-size: 12px;
}




/* ==========================================================================
GESTION IMAGE AVEC RESTANGLE DECALE
   ========================================================================== */
/*
.Verticalementcentre {
   /* display: inline-block;
    vertical-align: middle;*//*
    background: #1f9bde;
    padding: initial;
    text-align: center;
}

.Verticalementcentre2 {
   /* display: inline-block;
    vertical-align: middle;*//*
    background: #2b542c;
    padding: initial;
}







*/

.Verticalementcentre {
height: 200px;
margin: 25px 0 20px 0;
padding: initial;
text-align: center;
}

.Verticalementcentre2 {
    height: 200px;
    position: relative;
    top: -5px;
    left: -50px;
    margin: 0 0 20px 0;
    /*margin: -5px 0 0 -50px;*/
    padding: initial;
    opacity: 0.5%;
    z-index: 9;
    text-align: center;
    background-color: white;
}





.blanc
{
    background-color: white;
    color: black;
    text-align: center;
}







/* ==========================================================================
GESTION DU BLOG
   ========================================================================== */









/*  3*/
.illu-article
{
    background-image: url('../img/Accueil/app.jpg');
    position: absolute;
    top: 40px;
    right: 18%;
    margin-right: -3px;
    width: 70%;
    height: 216px;
    overflow: hidden;
    border: 1px solid #1b4159;
    background-color: #1b4159;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}




/*  4*/

#vertical-bar-border {
    position: absolute;
    width: 15px;
    height: 100%;
    background: #192730;
    border: 1px solid #1c455f;
    left: 0;
    top: 0;
}


.sidebar-bloc {
    margin: 40px 7% 0 11%;
    font-size: 14px;
    line-height: 18px;
}

.sidebar-bloc .title {
    font-size: 24px;
    color: #FFF;
    font-variant: small-caps;
    text-decoration: none;
}

.sidebar-bloc ul li a {
    display: block;
    text-decoration: none;
    color: #9e9e9e;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    -ms-transition: all .2s;
    transition: all .2s;
}

a {
    text-decoration: none;
    color: #2487c7;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    -ms-transition: all .2s;
    transition: all .2s;
}

.sidebar-bloc ul {
    margin: 10px 0;
    padding: 0;
    list-style-type: none;
}

#search form {
    height: 30px;
    padding-bottom: 0;
    margin: 0;
}

#search input[type=text] {
    width: 95%;
    padding: 1px 2.5%;
}

#search input {
    display: block;
    float: left;
    height: 28px;
    line-height: 28px;
    padding: 0;
    margin: 0;
    border: 0;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    -ms-transition: all .2s;
    transition: all .2s;
}


#search input[type=submit] {
    height: 28px;
    width: 28px;
    color: #FFF;
    font-weight: bold;
    margin-left: -29px;
    margin-top: 1px;
}

form input[type="submit"], form input[type="reset"] {
    display: block;
    float: right;
    position: relative;
    width: auto;
    height: auto;
    padding: 7px 15px;
    margin: 10px 0 15px 0;
    background: #192730;
    text-transform: uppercase;
    text-decoration: none;
    color: #CCC;
    font-size: 12px;
    line-height: inherit;
    border: 1px solid #1b4159;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    -ms-transition: all .2s;
    transition: all .2s;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
    *overflow: visible;
}

.sidebar-bloc ul li a .counter {
    display: block;
    color: #5a5a5a;
    float: right;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    -ms-transition: all .2s;
    transition: all .2s;
}
